<div id="barra">
      <div class="row">
            <div class="col-md-2">
                  <img class=logo src="https://acortar.link/VDcZgZ" alt="logo"/>
            </div>
            <div class="col-md-8">
                  <h2 id="titulo_barra">Argentina programa - #YoProgramo</h2>
            </div>
            <div class="col-md-2">
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a id="link_login"  href="iniciar-sesion"><button class="btn btn-primary">Acceder</button></a>
                  </div>
            </div>
      </div>
</div>
