<footer>
    <div class="info_pie">
        <p>Contacto:</p>
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-10">
                        <p><i class="bi bi-envelope"></i>   matiaswilliner@hotmail.com.ar</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-10">
                        <p><i class="bi bi-instagram"></i>  mati_williner</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-10">
                        <p><i class="bi bi-linkedin"></i>   Matías Williner</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</footer>
